<?xml version="1.0" ?>
<config>
    <modules>
        <VS7_GuestWishlist>
            <version>1.0.1</version>
        </VS7_GuestWishlist>
    </modules>
    <global>
        <models>
            <vs7_guestwishlist>
                <class>VS7_GuestWishlist_Model</class>
                <resourceModel>vs7_guestwishlist_resource</resourceModel>
            </vs7_guestwishlist>
            <vs7_guestwishlist_resource>
                <class>VS7_GuestWishlist_Model_Resource</class>
                <entities>
                    <wishlist>
                        <table>vs7_guestwishlist</table>
                    </wishlist>
                    <wishlist_option>
                        <table>vs7_guestwishlist_option</table>
                    </wishlist_option>
                </entities>
            </vs7_guestwishlist_resource>
        </models>
        <resources>
            <vs7_guestwishlist_setup>
                <setup>
                    <module>VS7_GuestWishlist</module>
                    <class>VS7_GuestWishlist_Model_Resource_Setup</class>
                </setup>
            </vs7_guestwishlist_setup>
        </resources>
        <helpers>
            <vs7_guestwishlist>
                <class>VS7_GuestWishlist_Helper</class>
            </vs7_guestwishlist>
        </helpers>
        <blocks>
            <vs7_guestwishlist>
                <class>VS7_GuestWishlist_Block</class>
            </vs7_guestwishlist>
        </blocks>
        <rewrite>
            <vs7_wishlist_index>
                <from><![CDATA[#^/wishlist/index/(silentadd|silentremove|silentcart|add)/#]]></from>
                <to>/gwishlist/index/$1/</to>
            </vs7_wishlist_index>
        </rewrite>
    </global>
    <frontend>
        <routers>
            <vs7_guestwishlist_index>
                <use>standard</use>
                <args>
                    <module>VS7_GuestWishlist</module>
                    <frontName>gwishlist</frontName>
                </args>
            </vs7_guestwishlist_index>
        </routers>
        <layout>
            <updates>
                <vs7_guestwishlist>
                    <file>vs7_guestwishlist.xml</file>
                </vs7_guestwishlist>
            </updates>
        </layout>
    </frontend>
</config>